@import "../../mixin";

.container {
    .portfolio {
        width: 90%;
        margin: 0 auto;

        &Title {
            margin-bottom: 5rem;

            h1 {
                font-size: 7rem;
                font-weight: 1000;
                position: relative;

                &::before {
                    content: "";
                    width: 5rem;
                    border: 5px solid white;
                    position: absolute;
                    top: -2rem;
                    border-radius: 2rem;
                    display: inline-block;
                }

            }
        }

        &Buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 8rem;

            button {
                padding: .8rem 2rem;
                border: none;
                background-color: var(--border-grey);
                cursor: pointer;
                border-radius: 5rem;
            }

            .selectedButton {
                background-color: green;
            }
        }

        &Items {
            display: flex;
            gap: 2rem;
            min-height: 33rem;
            justify-content: center;

            .cont {
                .imgCont {
                    border: .3px solid var(--border-grey);
                    border-radius: 2rem;
                    overflow: hidden;
                    height: 28rem;

                    width: 100%;

                    .img {
                        width: 100%;
                        height: auto;
                        // object-fit:cover;
                        // object-position:top;
                        transition: transform 6s ease-in-out;

                        &:hover {
                            transform: translateY(-70%);
                        }
                    }
                }
            }
        }
    }
}